@{
    ViewData["Title"] = "Home";
}
<div class="box1">
    <img src="../../assets/img/brand/XiangLogo1.png" height="140" width="150" alt="Volt Logo" style="display:block; margin:auto;">
    <h1>歡迎使用</h1>
    <h1> 想享後台管理系統</h1>

</div>
<style>

    .box1 {
        margin-top:10%;
        justify-content: center;
    }

        .box1 h1 {
            display: flex;
            justify-content: center;
            font-weight: bold;
        }

</style>
